.form {
    width: 700px;
    box-shadow: 2px 2px 4px 4px rgba(38, 117, 207, 0.699);
    border-radius: 20px;
}
.body {
    height: 700px;
}
h2 {
    font-family: cursive;
    color: rgba(38, 117, 207, 0.863);
    font-size: 50px;
}
p {
    color: red;
}

